.page.page-error
{
	background: #282e40;
	padding-top: 50px;
	color: #716a8b;
	text-align: center;

	.error-404
	{
		margin-bottom: 20px;
		font-size: 100px;
	}

	.message
	{
		font-size: 20px;
	}

	.link
	{
		margin-top: 50px;
		display: inline-block;
		padding: 8px 10px;
		background: #716a8b;
		color: #282e40;
		border-radius: 4px;
		text-decoration: none;
		font-size: 15px;

		&:hover{
			background: darken(#716a8b, 5);
		}

	}
}