.page.page-home
{
	.form
	{
		position: relative;
		width: 400px;
		margin: 0 auto;
		background: #fff;
		padding: 30px;
		box-sizing: border-box;
		border-radius: 3px;
		box-shadow: 0px 20px 30px -10px rgba(39, 0, 255, 0.1);
		border-bottom: 2px solid rgba(39, 0, 255, 0.07);

		.shorter-url
		{
			padding: 7px 10px;
			width: 100%;
			box-sizing: border-box;
			border-radius: 3px;
			border: 1px solid #eee;
			font-size: 13px;
			outline: none;

			&:focus{
				border-color: #8b00ff;
			}
		}

		.button-block
		{
			width: 100px;
			padding-left: 5px;
		}

		.shorter-button
		{
			padding: 8px 10px;
			width: 100%;
			box-sizing: border-box;
			border-radius: 3px;
			border: 0;
			font-size: 13px;
			color: #fff;
			background: #8b00ff;
			cursor: pointer;
			outline: none;

			&:hover{
				background: darken(#8b00ff, 5);
				box-shadow: 0px 5px 15px -5px rgba(139, 0, 255, 0.31);
			}
		}

		.result-short-link
		{
			display: none;
			margin-top: 10px;
			border: 1px solid #eee;
			padding: 8px;
			border-radius: 3px;
			font-size: 13px;
			text-align: center;
		}
	}
}

@media all and (max-width : 400px){
	@import "home.mobile";
}