@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic");
body {
  font-family: 'Fira Mono', monospace;
  margin: 0;
  padding: 0;
  background: #f5f5f5; }

.page {
  width: 100%;
  height: 100vh;
  box-sizing: border-box; }

.rowT {
  display: table;
  table-layout: fixed; }

.colT {
  display: table-cell;
  vertical-align: middle; }

@media (min-width: 768px) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed; }
  .col {
    display: table-cell;
    vertical-align: middle; } }

.page.page-home .form {
  position: relative;
  width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 20px 30px -10px rgba(39, 0, 255, 0.1);
  border-bottom: 2px solid rgba(39, 0, 255, 0.07); }
  .page.page-home .form .shorter-url {
    padding: 7px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #eee;
    font-size: 13px;
    outline: none; }
    .page.page-home .form .shorter-url:focus {
      border-color: #8b00ff; }
  .page.page-home .form .button-block {
    width: 100px;
    padding-left: 5px; }
  .page.page-home .form .shorter-button {
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0;
    font-size: 13px;
    color: #fff;
    background: #8b00ff;
    cursor: pointer;
    outline: none; }
    .page.page-home .form .shorter-button:hover {
      background: #7d00e6;
      box-shadow: 0px 5px 15px -5px rgba(139, 0, 255, 0.31); }
  .page.page-home .form .result-short-link {
    display: none;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 8px;
    border-radius: 3px;
    font-size: 13px;
    text-align: center; }

@media all and (max-width: 400px) {
  .page.page-home .form {
    width: calc(100% - 20px); }
    .page.page-home .form .button-block {
      padding-left: 0;
      padding-top: 10px;
      width: 100%; }
    .page.page-home .form .result-short-link {
      word-break: break-all; } }

.page.page-error {
  background: #282e40;
  padding-top: 50px;
  color: #716a8b;
  text-align: center; }
  .page.page-error .error-404 {
    margin-bottom: 20px;
    font-size: 100px; }
  .page.page-error .message {
    font-size: 20px; }
  .page.page-error .link {
    margin-top: 50px;
    display: inline-block;
    padding: 8px 10px;
    background: #716a8b;
    color: #282e40;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px; }
    .page.page-error .link:hover {
      background: #655f7d; }

/*# sourceMappingURL=app.css.map */
