@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic');

body{
	font-family: 'Fira Mono', monospace;
	margin: 0;
	padding: 0;
	background: #f5f5f5;
}

.page
{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

.rowT { display: table; table-layout: fixed; }
.colT { display: table-cell; vertical-align: middle; }

@media (min-width: 768px)
{
	.row { width: 100%; display: table; table-layout: fixed; }
	.col { display: table-cell; vertical-align: middle;}
}